html {
    background: rgb(121,9,96);
    background: linear-gradient(90deg, rgba(121,9,96,1) 25%, rgb(104, 104, 109) 50%, rgba(142,41,209,1) 75%);
    font-family: 'Karla', sans-serif;
}
.jumbotron {
    font-family: 
    text-align, center;
    text-decoration-color: aliceblue;
    text-decoration-thickness:;

}
body {
background: rgb(121,9,96);
background: linear-gradient(90deg, rgba(121,9,96,1) 25%, rgb(119, 118, 121) 50%, rgba(142,41,209,1) 75%);

 
    
}
  
  h2 {
    margin: 0;
    color: #8495a5;
    font-size: 2.5em;
    font-weight: 300;
  }
  
